:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: red; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #74ebd5, #ACB6E5);
  background: linear-gradient(to right, #74ebd5, #ACB6E5);



}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color:white;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:30px;
  height:30px;
}

/*

.css-2ulfj5-MuiTypography-root {
    margin: 0;
    font-family: "fantasy";
    font-weight: 1500;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
} */
/*
.tss-9562fz-MUIDataTableViewCol-root {
  padding:50px;
}

.css-1nrlq1o-MuiFormControl-root {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  min-width: 0;
  padding: 50px;
  margin: 0;
  border: 50;
  vertical-align: top;
} */
